<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><i class="fa-solid fa-house mb"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div>
          <a class="nav-link" aria-current="page" href="/home"><button type="button" class="btn btn-success">Home</button>
          </a>
        </div>
        <div class="navbar-nav ms-auto mb">
          <a class="nav-link" href="/signup"><button type="button" class="btn btn-success">Sign up</button></a>
          <a class="nav-link" href="/login"><button type="button" class="btn btn-success">Log in</button></a>
          <a class="nav-link" href="/logout"><button type="button" class="btn btn-success">Log out</button></a>

        </div>
      </div>
    </div>
  </nav>